#__next {
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

.section {
  width: 100%;
  padding-top: 24px;
  min-height: 90vh;
  scroll-margin-top: 64px;
}
.mainSection {
  width: 100%;
  min-height: fit-content;
  border-radius: 0px 0px 10px 10px;
}